fastapi==0.115.0
uvicorn==0.30.6
requests==2.32.3
requests-cache==1.2.1
pykalman==0.9.7
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
xarray==2024.6.0
cdsapi==0.7.0
openmeteo-requests==1.2.0
redis==5.0.8
loguru==0.7.2
openpyxl==3.1.2
prometheus_client==0.20.0